@charset "utf-8";
/* Style the header */
body {
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    background: white;
}

.header {
    top: 0;
    background: #007bff;
    color: white;
    display: table;
    width: 100%;
}

.footer {
    background: #007bff;
    color: white;
    display: table;
    width: 100%;
}

.content {
    padding: 0px;
}

.border {
    border-width: thin;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.center{
    margin-right: auto;
    margin-left: auto;
}

.flashAlert {
    background-color: yellow;
    width: 100%;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.error {
    list-style-type: none;
    color: #a94442; /* reddish */
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-size: 12px;
    font-style: italic;
}